@import "src/Styles/variables";

a {
  text-decoration: none;
}

.pagination {
  display: flex;
  color: $dark-pink;

  &__arrow {
    cursor: pointer;
    margin-right: 5px;
    color: $dark-pink;
    font-size: 15px;
  }

  &__page {
    cursor: pointer;
    margin-right: 5px;
    color: $dark-pink;
  }

  &__currentpage {
    color: $outline-pink;
    margin-right: 5px;
  }

  &__rest {
    display: flex;
  }
}